{% extends "base.html" %}
{% load static %}

{% block content %}
{% spaceless %}

<section id="about">
    <h2>Про мене</h2>
    <img src="{% static 'img/me_photo.jpg' %}" alt="Бойчук Богдан">
    <p>Мене звати Бойчук Богдан Романович, народився 10 червня 2004 року. Я захоплююсь програмуванням, читанням книг та новел, переглядом аніме та серіалів. Улюблене аніме - "Сага про Вінланд", а улюблений серіал - "Гра Престолів".</p>
</section>

{% if categories %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            {% for item in categories %}
                <a href="{{ item.get_absolute_url }}">
                    <h4>{{ item.category }}</h4>
                </a>
            {% endfor %}
        </div>
    </nav>
{% endif %}
    
    {% if articles %}
        {% for item in articles %}
            <div class="article-block">
                <a href="{{ item.get_absolute_url }}">
                    <h4>{{ item.title }}</h4>
                </a>
                <h5>
                    {{ item.pub_date|date:"j E Y"|safe|linebreaks }}
                </h5>
                <p>
                    {{ item.description|safe|escape|striptags|truncatewords_html:32 }}
                </p>
            </div>
        {% endfor %}
    {% endif %}
    
    <a href="{% url 'articles-list' %}">
        <h4>Всі публікації</h4>
    </a>
{% endspaceless %}
{% endblock %}
